@import "../standard.css";

html, body {
    padding: 0;
}

.box {
    height: 100vh;
    display: flex;
    background: pink;
    /* background: url(images/bg_large.jpg) no-repeat;
    background-position: center center;
    background-size: cover; */
}

.content-center {
    margin: auto;
    text-align: center;
}